
<div id="cookie-banner" class="banner fixed p-4 rounded-lg left-8 right-8 bg-surface-token text-on-surface-token flex justify-between bottom-8 hidden">
  <p>I use tooling to track errors on the page. It does not track any user information or other variety of identifiable information.</p>
  <div>
    <button type="button" class="btn px-3 py-2 rounded-full bg-primary-token text-on-primary-token">
      Ok
    </button>
  </div>
</div>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const bannerEl = document.querySelector('#cookie-banner');
    if(!bannerEl) return;

    if(!document.cookie.includes('cookieConsent=')) {
      bannerEl.classList.remove('hidden');
      bannerEl.classList.add('in');

      bannerEl.querySelector('[type=button]').addEventListener('click', () => {
        document.cookie = 'cookieConsent='+ new Date().toISOString()+';expires='+new Date('2027-01-01');
        bannerEl.classList.replace('flex', 'hidden')
      });
    } 

  });
</script>

<style>
  .banner {
    transition: translate 500ms ease-in;
    translate: 0 100%;
  }

  .banner.in {
    translate: 0 0%;
  }
</style>