---
import { listOthers } from '$lib/other';
import { paginateFunction } from '$lib/pagination';
import { getPayloadInstance } from '$lib/util';
import Main from '../../layouts/main.astro';
import { RichText } from '@payload-bites/astro-richtext-renderer';



export async function getStaticPaths() {
  const payload = await getPayloadInstance();
  const oo = await payload.find({
    collection: 'others',
    limit: 0,
    draft: import.meta.env.DEV,
  });
  const others = await paginateFunction(listOthers);
  return oo.docs.map((m) => ({
    params: {
      slug: m.slug,
    },
    props: {
      other: m,
    },
  }));
}

const { other } = Astro.props;

const others = [];

---

<Main>
  <div class="wrapper col-span-12 @lg/main:col-span-8 @lg/main:col-start-3 mt-8 grid grid-cols-subgrid">
    <div class="@lg/main:col-span-6 col-span-12 p-4">
      {
        other.title &&
        <h2 class="mb-4">{other.title}</h2>
      }

      <RichText data={other.contents} />

    </div>
  </div>
</Main>


<style is:global>
  p + p {
    margin-block-start: 0.75rem;
  }
</style>