---
import Navbar from "../components/navbar/navbar.astro";
import Footer from "../components/footer/footer.astro";
import '../app.css';
const { title = '' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/raven-only.svg" />
    <link href="/raven-only.svg" rel="icon" type="image/svg+xml" media="(prefers-color-scheme: light)">
    <link href="/raven-only-color.svg" rel="icon" type="image/svg+xml" media="(prefers-color-scheme: dark)">

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Burbridge {title ? `- ${title}` : ''}</title>
  </head>
  <body class="dark:bg-zinc-800 dark:text-zinc-100">
    <div class="layout">
      <Navbar class="col-start-1 row-start-1 col-span-12 p-2 bg-green-500 text-zinc-900 sticky top-0" /> 
      <div class="content">
        <slot />
      </div>
      <Footer class="bg-black col-start-1 col-span-12 -row-end-1"/>
    </div>
  </body>
</html>

<style>
  .layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: 70px 1fr minmax(100px, max-content);
    min-height: 100dvh;
    container-name: main;
    container-type: inline-size;
  }

  .layout .content {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    grid-column: span 12;
  }
</style>
