name: Deploy to Fly.io

on:
  workflow_dispatch: # This enables manual triggering of the workflow

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@v1

      - name: Deploy to Fly.io
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          STRAPI_API: ${{ secrets.STRAPI_API }}
        run: |
          cd web
          flyctl deploy --remote-only --build-args=STRAPI_API
