# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [fly-deploy]

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      # need local only because otherwise it doesn't pass this arg correctly.
      - run: cd web && flyctl deploy --local-only --build-arg strapi_url=${STRAPI_API}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          STRAPI_API: ${{ secrets.STRAPI_API }}
