name: BiomeJS Lint Check

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'  # Specify the Node.js version your project uses

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - run: cd web

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run BiomeJS
        run: |
          cd web
          pnpm biome ci